<footer>
    <section class="footer-box">
        <div class="sobre-box">
            <h2>Sobre</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper pharetra nulla, vitae condimentum nibh. Curabitur commodo vehicula diam vel luctus.</p>
            <p>Vestibulum id est ac ipsum molestie scelerisque eu quis eros. Aliquam erat volutpat. Phasellus porta nunc et lacus sollicitudin posuere.</p>
        </div>
        <div class="contato-box">
            <h2>Contato</h2>
            <ul>
                <li><a><i class="fa-sharp fa-solid fa-envelope"></i> email@email.com</a></li>
                <li><a><i class="fa-solid fa-phone"></i> (00) 0 0000-0000</a></li>
                <li><a><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</a></li>
            </ul>
        </div> 
    </section>
    <section class="copyright">
        <p>&copy; Todos direitos reservados</p>
    </section>
</footer>
