.contato {
    display: flex;
    margin: 12px 24px;
    min-height: calc(100vh - 304px);
 }
.seta-container {
    width: 24px;
    margin-right: 12px;
}
.seta-container i {
    height: fit-content;
    font-size: 24px;
    color: var(--blue);
}
.form-container {
    width: calc(50% - 21px);
    margin-right: 6px;
}
.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12px;
}
.form-container form input {
    width: calc(90% - 24px);
    height: 30px;
    padding: 0 12px;
    border: 1px solid var(--light-gray-2);
}
.form-container form input:focus {
    outline: none;
}
.form-container form textarea {
    resize: none;
    width: calc(90% - 24px);
    height: 100px;
    padding: 6px 12px;
    border: 1px solid var(--light-gray-2);
}
.form-container form textarea:focus {
    outline: none;
}
.erro-container {
    width: 85%;
    height: 10px;
    margin-top: 1px;
    margin-right: 5%;
    font-size: 9px;
    color: var(--red);
}
.form-container form .campo-valido {
    border-color: var(--light-green);
}
.form-container form .campo-invalido {
    border-color: var(--light-red);
}
.form-container form button {
    cursor: pointer;
    width: 35%;
    height: 35px;
    margin-left: 55%;
    border: none;
    border-radius: 6px;
    background-color: var(--blue);
    font-size: 14px;
    color: white;
}
 .mapa-container {
    width: calc(50% - 21px);
    margin-left: 6px;
 }
 .mapa-container iframe {
    width: 100%;
    height: 328px;
 }